/* css/variables.css */
:root {
    --color-primary: #e4ddd3; /* para a logo e textos */
    --color-secondary: #84857b; /* para background, fundo chapado */
    --principal-font: 'Inter', sans-serif;
}
